@font-face {
    font-family: "Fututa-Bold";
    src: url(./Futura-Bold.ttf);
}

@font-face {
    font-family: "ABC Social Mono";
    src: url(./ABCSocialMono-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: white;
    background: black;
}
body{
    font-family: "Fututa-Bold";
    background: #F7F7F7;
    width: 100vw;
    /* overflow: hidden !important; */
    /* height: auto; */
}
#cursor{
    height: 200px;
    width: 200px;
    background: rgb(215, 213, 213);
    position: fixed;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
}
.main{
    padding: 1vw 1.6vw;
    /* background: red; */
    /* min-height: 100vh; */
    width: 100%;
    overflow: hidden;
}
.animated-btn{
    color: black;
    font-family: "ABC Social Mono",sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    font-size: 12px;
  }
.animated-btn::after{
    margin-top: 5px;
    content: '';
    display: block;
    background: black;
    width: 100%;
    height: 1px;
    transform-origin: left top;
    transform: scaleX(1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}
.animated-btn:hover::after{
    transform-origin: right top;
    transform: scaleX(0);
}
.nav-btn::after{
    transform-origin: right top;
    transform: scaleX(0);
}
.nav-btn:hover::after{
    transform-origin: left top;
    transform: scaleX(1);
}

#page1{
    /* background: green; */
    /* font-family: futura; */
    /* padding-bottom: -10vh; */
    padding: 0;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    margin: 3.5vh 1.6vw;
    z-index: 99;
}
#nav #logo{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    height: 80px;
    overflow: hidden;
    /* background: red; */
    z-index: 5;
    cursor: pointer;
}
#nav #logo img{
    height: 80px;
}
#nav .nav-right{
    display: flex;
    align-items: center;
    /* margin: 5px 0; */
}

#nav .nav-right .nav-list a{
    margin: 0 30px;
}
#nav .nav-right .nav-icon{
    /* border: 2px solid red; */
    background: #F7F7F7;
    border-radius: 35px;
    padding: 5px 10px;
    margin-left: 30px;
    transition: all 0.3s ease;
}
#nav .nav-right .nav-icon:hover{
    cursor: pointer;
}
#nav .nav-right .nav-icon #nav-i-menu{
    margin-right: 30px;
}
#nav .nav-right .nav-icon #nav-i-cart{
    margin-left: 30px;
}

.main #page1 #main-text{
    /* height: 60vh; */
    padding-top: 10vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: -20vw; */
    /* background: blue; */
}
.main #page1 #main-text h1{
    font-size: 15vw;
    letter-spacing: -0.5vw;
}
.main #page1 #main-text #the-course{
    /* background: yellow; */
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.main #page1 #main-text #change{
    line-height: 5.5vw;
}

#page2{
    /* height: 100vh; */
    width: 100%;
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 5vw;
    /* font-family: futura; */
    overflow: hidden;
    /* margin-top: -12vh; */
}

#page2 img{
    height: 80vh;
    max-width: 100%;
    position: relative;
}
    #circle{
        position: absolute;
        top: 20%;
        left: 58%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #page2 #buy-circle{
        animation: rotateText 10s linear infinite;
        position: relative;
        width: 200px;
        height: 200px;
        /* border: 1px solid red; */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #page2 #buy-circle #border-text{
        position: absolute;
        top: 8%;
    }

    #page2 #buy-circle #border-text span{
        font-family: sans-serif;
        position: absolute;
        font-size: 0.8em;
        transform-origin: 0 80px;
    }
    @keyframes rotateText{
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    #page2 #circle #buy-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: bolder;
        font-size: 25px;
    }



#page3{
    display: flex;
    flex-direction: column;
    /* padding: 0 1vw; */
    /* background: blueviolet; */
}
hr{
    border: 1px solid black;
    margin-top: 4px;
}
.quote{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: black;
}

.posters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin-top: 15px;
    /* background: red; */
}
.posters .poster{
    height: 100%;
    width: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: yellow; */
    overflow: hidden;
}
.posters .poster img{
    width: 100%;
    height: 100%;
}
.posters .poster .middle-box{
    position: absolute;
    top: 50%;
    height: 55px;
    width: 330px;
    border-radius: 50px;
    background: #F5DFCF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: black;
    overflow: hidden; 
    padding: 20px 0;
    transition: all 0.3s linear;
}
.posters .poster .middle-box:hover{
    height: 280px;
    border-radius: 30px;
    cursor: pointer;
}
.posters .poster .middle-box .visible{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    letter-spacing: 1px;
}
.posters .poster .middle-box .visible .bold-text{
    font-weight: 900;
}

.posters .poster .middle-box .not-visible{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.posters .poster .middle-box .not-visible .not-visible-text{
    margin-top: 4vh;
}
.posters .poster .middle-box .not-visible .sub-item{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
}
.posters .poster .middle-box .not-visible .sub-item .image{
    height: 150px;
    /* width: 100px; */
    /* background: purple; */
}

#page4{
    margin-top: 5vh;
    display: flex;
    width: 100%;
    /* background: blue; */
    /* padding: 0 1vw; */
    align-items: flex-start;
}

#page4-left{
    /* background: green; */
    font-size: 3.5vw;
    line-height: 3.8vw;
    width: 45%;
}
#page4-right{
    padding-top: 10px;
    /* background: yellow; */
    font-family: sans-serif;
    line-height: 22px;
    width: 23%;
}

.empty1{
    width: 22.6%;
}
.empty2{
    width: 9.4%;
}


#page5{
    /* background: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 3vh;
}

#page5 .item{
    width: 40%;
    height: 90vh;
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "ABC Social Mono",sans-serif;
}

#page5 .item img{
    height: 80%;
    width: 90%;
    /* object-fit: cover; */
    /* opacity: 0; */
    /* transition: opacity 0.5s ease; */
}

#page5 .item p{
    font-size: 12px;
    text-align: center;
    margin-top: 3vh;
}

#page5 .item .price{
    font-size: 10px;
    margin-top: 10px;
}

#page6{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    overflow: hidden;
    /* background: blue; */
}
#page6 .quote{
    width: 100%;
}
#page6 .quote #right-quote{
    text-align: right;
}
#page6 hr{
    /* background: red; */
    width: 100%;
    /* border: 2px solid black; */
}
#page6 .reviews{
    margin-top: 5vh;
    width: 100%;
    overflow: hidden;
}
#page6 .reviews .slider{
    display: flex;
    font-family: sans-serif;
    /* position: relative; */
    margin: 30px 0;
    /* width: 100%; */
    position: absolute;
    left: 48%;
}
#page6 .reviews .slider .slide{
    width: 20vw;
    font-size: 1.5vw;
    transition: all 0.5s ease;
    /* cursor: pointer; */
    /* transform: translateX(-100%); */
}
#page6 .reviews .slider .slide .slide-btn{
    height: 15px;
    width: 15px;
    margin: 5px 0 20px 0;
    /* background: black; */
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
#page6 .reviews .slider .slide #first-slide-btn{
    background: black;
}
#page6 .reviews .slider-msg{
    /* background: red; */
    text-align: center;
    font-size: 3.8vw;
    padding: 7vh 20%;
    line-height: 4vw;
    margin-top: 20vh;
    display: none;
    transition: all 1s ease;
}
#page6 .reviews #first-slider-msg{
    display: block;
}
#page6 #send-msg{
    /* background: blue; */
    padding-top: 5vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#page6 #send-msg button{
    background: black;
    color: white;
    padding: 20px 65px;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
}
#page6 #send-msg p{
    padding: 30px 30px;
}
#page7{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    /* background: yellow; */
    align-items: flex-start;
}
#page7 .page7-text{
    width: 33vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* background:green; */
    padding-right: 11vw;
    /* overflow: hidden; */
}
#page7 .page7-right{
    height: 90vh;
    width: 67wh;
    /* background: yellow; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
#page7 .page7-right .page7-img{
    width: 49%;
}
#page7 .page7-right .page7-img img{
    width: 100%;
    height: 100%;
}
#page7 .page7-text h1{
    font-size: 1.5vw;
    margin-bottom: 25px;
    /* background: pink; */
}
#page7 .page7-text .left-text{
    font-family: sans-serif;
    line-height: 25px;
}
#page7 .page7-text .left-text a:after{
    margin-top: 4px;
}


.email{
    margin: 10vh 0 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email i{
    font-size: 2vw;
    font-weight: 900;
}
#arrow-down{
    display: none;
}
.email input{
    height: auto;
    width: 100%;
    font-size: 2.3vw;
    font-family: "Fututa-Bold";
    background: #F7F7F7;
    border: none;
    outline: none;
}
.email input::placeholder{
    color: black;
}
.email i{
    cursor: pointer;
}
#email-hr{
    border: 1px solid grey;
}

#page8{
    /* background: red; */
    margin-top: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "ABC Social Mono",sans-serif;
}
#page8 .page8-sub{
    /* background: green; */
}
#page8 .page8-sub ul{
    list-style: none;
}
#page8 .page8-sub img{
    height: 280px;
    width: 280px;
    cursor: pointer;
}
#page8 .page8-sub .page8-sub-head{
    font-size: 17px;
    color: grey;
}
#page8 .page8-sub2{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 30vw; */
}
#page8 .page8-sub2 .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
#page8 .page8-sub2 .footer div{
    /* background: red; */
    margin: 20px;
    color: grey;
    cursor: pointer;
}
#page8 .page8-sub3 ul{
    text-align: end;
}
#page8 .page8-sub3 .page8-sub-head{
    /* background: red; */
    text-align: end;
}
#page8 .page8-sub ul li{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-weight: 1px;
    margin: 3px 0;
    transition: all 0.3s ease;
}
#page8 .page8-sub ul li:hover{
    cursor: pointer;
    color: grey;
}

#footer-text{
    text-align: center;
    margin: 10vh 0 20vh 0;
    padding: 0 15vw;
    font-family: sans-serif;
    line-height: 25px;
}








  