*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: white;
    background: black;
}
body{
    font-family: futura;
    background: #F7F7F7;
}
#cursor{
    height: 200px;
    width: 200px;
    background: rgb(215, 213, 213);
    position: fixed;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
}
.main{
    padding: 1vw 1vw;
    /* background: red; */
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}
#page1{
    height: 75vh;
    /* background: green; */
    font-family: futura;
    padding-bottom: -10vh;
}
.main #page1 #nav{
    height: 20vh;
}
.main #page1 #main-text{
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    margin-bottom: -20vw;
}
.main #page1 #main-text h1{
    font-size: 15vw;
    letter-spacing: -0.5vw;
}
.main #page1 #main-text #change{
    line-height: 5.5vw;
}

#page2{
    height: 100vh;
    width: 100%;
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 5vw;
    font-family: futura;
    overflow: hidden;
}

#page2 img{
    height: 80vh;
    max-width: 100%;
    position: relative;
}
    #circle{
        position: absolute;
        top: 20%;
        left: 58%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #page2 #buy-circle{
        animation: rotateText 10s linear infinite;
        position: relative;
        width: 200px;
        height: 200px;
        /* border: 1px solid red; */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #page2 #buy-circle #border-text{
        position: absolute;
        top: 8%;
    }

    #page2 #buy-circle #border-text span{
        font-family: futura;
        position: absolute;
        font-size: 0.8em;
        transform-origin: 0 80px;
    }
    @keyframes rotateText{
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    #page2 #circle #buy-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: bolder;
        font-size: 25px;
    }



#page3{
    display: flex;
    flex-direction: column;
    padding: 0 1vw;
    /* background: blueviolet; */
}
hr{
    border: 1px solid black;
}
#quote{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: black;
}

.posters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin-top: 15px;
}
.posters .poster{
    height: 100%;
    width: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.posters .poster img{
    width: 100%;
    height: 100%;
}
.posters .poster .middle-box{
    position: absolute;
    top: 50%;
    height: 55px;
    width: 330px;
    border-radius: 50px;
    background: #F5DFCF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: black;
    overflow: hidden; 
    padding: 20px 0;
    transition: all 0.3s linear;
}
.posters .poster .middle-box:hover{
    height: 250px;
    border-radius: 30px;
}
.posters .poster .middle-box .visible{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    letter-spacing: 1px;
}
.posters .poster .middle-box .visible .bold-text{
    font-weight: 900;
}

.posters .poster .middle-box .not-visible{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.posters .poster .middle-box .not-visible .sub-item{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
}
.posters .poster .middle-box .not-visible .sub-item .image{
    height: 150px;
    /* width: 100px; */
    /* background: purple; */
}

#page4{
    margin-top: 5vh;
    display: flex;
    width: 100%;
    /* background: blue; */
    padding: 0 1vw;
    align-items: flex-start;
}

#page4-left{
    flex: 6;
    /* background: green; */
    font-size: 3.5vw;
    line-height: 3.8vw;
}
#page4-right{
    padding-top: 10px;
    /* background: yellow; */
    font-family: sans-serif;
    padding-left: 2vw;
    flex: 2;
    line-height: 22px;
}
#page4-btn{
  color: black;
  font-family: "ABC Social Mono",sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  font-size: 12px;
}
#page4-btn::after{
    margin-top: 6px;
    content: '';
    display: block;
    background: black;
    width: 100%;
    height: 1px;
    transform-origin: left top;
    transform: scaleX(1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}
#page4-btn:hover::after{
    transform-origin: right top;
    transform: scaleX(0);
}
.empty1{
    flex: 1;
}


#page5{
    /* background: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#page5 .item{
    width: 40%;
    height: 90vh;
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "ABC Social Mono",sans-serif;
}

#page5 .item img{
    height: 70vh;
    width: 90%;
    object-fit: cover;
    /* opacity: 0; */
    /* transition: opacity 0.5s ease; */
}

#page5 .item p{
    font-size: 12px;
}

#page5 .item .price{
    font-size: 10px;
    margin-top: 10px;
}
/* #page5 .item img{
    opacity: 1;
} */


#page7{
    display: flex;
}
#page7 .page7-sub-div{
    width: 33%;
    background: red;
}



@media screen and (max-width: 768px) {
        #circle{
            top: 25%;
            left: 60%;
        }
        #page2 img {
            max-width: none;
            width: 80%;
            height: 60vh;
          }
      }
@media screen and (max-width: 600px) {
    #circle{
        top: 30%;
        left: 50%;
    }
    #page2 img {
      max-width: none;
      width: 80%;
      height: 50vh;
    }
    #page2 #buy-circle{
        width: 160px;
        height: 160px;
    }
    #page2 #buy-circle #border-text span{
        font-size: 0.8em;
        transform-origin: 0 70px;
    }
  }


  